/* 

Font Sizes(px)
10-12-14-16-20-24-32-36-40-48-64-96-128

Font Weights
default- 400

Line Spacing
defualt- 1

--Colors
Primary- #FF6B6B
Secondary- #212529
Font- 
  Normal-#343A40
  Heading- #495057;
  Lighter-#868E96
Gradients-
#20C997 #FFE066 
#E8F3FF
#FFFAE8
#E8FCFF
#F3F3F3
#E4E5FF
#FF866B #FF006B

Shadows

Border-Radius

Whitespace

Spacing System(px)
2-4-8-12-16-24-32-48-64-80-96-128


*/

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #343440;
}

body {
  font-family: Montserrat;
  line-height: 1;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(255, 255, 255);
  opacity: 0.98;
  position: sticky;
  top: 0;
  z-index: 1;
}

#home {
  background: url(./images/other/black_dots.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

section {
  padding-top: 16rem;
}

#home {
  padding-top: 9.6rem;
}

#projects .section-heading {
  padding-top: 8rem;
}

#contact {
  padding-top: 0;
}

.logo {
  margin-right: auto;
  align-self: center;
  margin-left: 6.4rem;
  font-size: 6.4rem;
  letter-spacing: -14px;
  font-weight: 300;
}

.logo-link {
  margin: 0 auto 0 0;
}

.logo-item1 {
  color: #ff6b6b;
}

.active {
  font-size: 2.4rem;
  color: #343a40;
}

nav a {
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  color: #868e96;
  margin: 3.2rem 2.4rem;
  background-color: white;
  font-weight: 600;
  border: none;
}

.nav-item:last-child {
  margin-right: 4.8rem;
}

.big-heading {
  text-align: center;
  font-size: 12.8rem;
  font-weight: 800;
  color: #495057;
}

.profession {
  width: 35rem;
  margin: 0 auto;
  background-color: #ff6b6b;
  color: white;
  text-align: center;
  padding: 1.5rem 3rem;
  border-radius: 40rem;
  font-size: 2rem;
  font-weight: 800;
  margin-top: 1.2rem;
}

.follower-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  margin: 4rem auto;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.about-section {
  display: grid;
  max-width: 130rem;
  grid-template-columns: 1fr 3fr;
  gap: 5rem;
  align-items: center;
  border-radius: 2.5rem;
  background-color: #212529;
  margin: 4.8rem auto;
  padding: 2rem 8rem;
  box-shadow: 0px 35px 30px 10px rgba(0, 0, 0, 0.2);
}

.profile {
  width: 23rem;
  border-radius: 2.5rem;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4rem 5rem;
}

.about-heading {
  font-size: 3.2rem;
  letter-spacing: 1rem;
  background: linear-gradient(to right, #ffe066, #20c997);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bio {
  color: white;
  margin-top: 4rem;
  margin-bottom: 6rem;
  font-size: 1.8rem;
  line-height: 1.5;
}

.socials {
  display: flex;
}

.social-img {
  width: 7rem;
  height: 7rem;
  background-color: #000000;
  border-radius: 100%;
  margin-right: 2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.socials img {
  padding: 2rem;
  width: 7rem;
}

.social-img:nth-child(1):hover {
  background-color: #696969;
}
.social-img:nth-child(2):hover {
  background-color: #ffa116;
}
.social-img:nth-child(3):hover {
  background-color: #f03482;
}
.social-img:nth-child(4):hover {
  background-color: #f03434;
}
.social-img:nth-child(5):hover {
  background-color: #3b7dd4;
}
.social-img:nth-child(6):hover {
  background-color: #33cbdf;
}

.mongo {
  width: 15rem !important;
}

.scroll {
  display: flex;
  justify-content: center;
}

.scroll img {
  animation: arr 3s infinite;
  width: 10rem;
}

/* animations */
@keyframes arr {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(30px);
  }
}

.section-heading {
  font-size: 4rem;
  text-align: center;
}

.exp {
  max-width: 110rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  margin-top: 6rem;
  padding: 0 3rem;
}

.exp-date {
  display: flex;
  align-items: center;
  align-self: flex-start;
  gap: 1.5rem;
  justify-self: center;
}

.exp-details {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.exp-details > span {
  font-weight: 700;
}

.location {
  display: flex;
  align-items: flex-end;
  margin-bottom: 2rem;
  font-weight: 700;
}

.location span {
  margin-right: 1rem;
}

.location svg {
  width: 18 px;
  height: 18px;
}

.exp ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: 2rem;
}

.skill-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: fit-content;
  gap: 2rem;
  margin: 0 auto;
  padding-top: 9.6rem;
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(233, 233, 233);
  max-width: 60rem;
  height: 35rem;
  border-radius: 3.2rem;
  transition: all 0.2s ease-in-out;
}

.skill img {
  width: 10rem;
}

.skill-heading {
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 0.7rem;
  margin: 3rem 0 1.5rem 0;
}

.skill-detail {
  color: #868e96;
  max-width: 70%;
  line-height: 1.5;
  text-align: center;
  font-size: 1.6rem;
}

.skill:nth-child(1) {
  background: linear-gradient(#e8f3ff, #fff);
}

.skill:nth-child(2) {
  background: linear-gradient(#fffae8, #fff);
}

.skill:nth-child(3) {
  background: linear-gradient(#e8fcff, #fff);
}

.skill:nth-child(4) {
  background: linear-gradient(#ecfcca, #fff);
}

.skill:nth-child(1):hover {
  background: linear-gradient(#bcddff, #fff);
}

.skill:nth-child(2):hover {
  background: linear-gradient(#fff0b8, #fff);
}

.skill:nth-child(3):hover {
  background: linear-gradient(#aef4ff, #fff);
}

.skill:nth-child(4):hover {
  background: linear-gradient(#d4ee9d, #fff);
}

.skill:hover {
  transform: translateY(-2rem);
}

.project {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  max-width: 130rem;
  margin: 9.6rem auto;
  row-gap: 4rem;
  column-gap: 4.8rem;
}

.project-heading {
  grid-column-start: span 2;
  justify-self: center;
  font-size: 2.1rem;
  font-weight: 600;
  letter-spacing: 1rem;
}

.project img {
  width: 60rem;
}

.project-description {
  display: flex;
  flex-direction: column;
  line-height: 2;
}

.black-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 5rem;
  background-color: white;
  color: #212529;
  text-decoration: none;
  border-radius: 0.5rem;
  margin-top: 2.4rem;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}

.black-btn:hover {
  color: white;
  background-color: #212529;
}

#projects {
  background: linear-gradient(to right, #e4e5ff, #fff);
  padding: 1rem;
  color: #868e96;
  margin-top: 9.6rem;
}

#contact {
  background: #343440;
}

.contact-heading {
  font-size: 3rem;
  padding-top: 4.8rem;
  text-align: center;
}
#contact * {
  color: white;
}

.mail {
  font-size: 5rem;
  text-align: center;
  background: -webkit-linear-gradient(right, #ffe066, #20c997);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 1rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 3.2rem;
  padding-bottom: 1.2rem;
}

.source-code {
  display: flex;
  margin-left: 4.8rem;
  align-items: flex-end;
  text-decoration: none;
}

.source-code img {
  width: 1.4rem;
  margin-right: 0.5rem;
}

/* reusable classes */

.small-icon {
  width: 2rem;
}

.very-small-icon {
  width: 1.5rem;
}

/* media-queries */

@media (max-width: 1400px) {
  html {
    font-size: 9px;
  }

  .exp {
    grid-template-columns: 1fr 1fr;
    justify-self: center;
  }

  .about-section {
    max-width: 80vw;
  }

  .project {
    max-width: 90vw;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 8px;
  }
  .logo {
    letter-spacing: -12px;
  }
}

@media (max-width: 1040px) {
  html {
    font-size: 7px;
  }
  .logo {
    letter-spacing: -10px;
  }
}

@media (max-width: 910px) {
  html {
    font-size: 9px;
  }
  .exp {
    grid-template-columns: 1fr 1.5fr;
  }
  .logo {
    letter-spacing: -14px;
  }
  .big-heading {
    font-size: 9.5rem;
  }

  #projects {
    margin: 5.6;
  }

  .section-heading {
    margin-top: 8rem;
  }

  .about-section {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 0rem;
    padding: 0;
    padding-top: 6rem;
  }

  .bio {
    font-size: 1.6rem;
    padding: 0 6rem;
  }

  .skill-container {
    grid-template-columns: 1fr;
  }

  .project {
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 0 8rem;
  }

  .project-heading {
    grid-column-start: span 1;
    font-size: 2.2rem;
    text-align: center;
    line-height: 1.5;
  }

  .project img {
    width: 100%;
  }
  .mail {
    font-size: 4rem;
  }
  .black-btn {
    width: 100%;
    color: white;
    background-color: #212529;
  }
}

@media (max-width: 780px) {
  section {
    padding-top: 8rem;
  }

  #projects .section-heading {
    padding-top: 0rem;
  }
  .big-heading {
    font-size: 8rem;
  }

  .project-heading {
    font-size: 2rem;
  }
  .project {
    padding: 0 4rem;
  }
  .exp {
    grid-template-columns: 1fr;
    row-gap: 3rem;
    font-size: 1.6rem;
    padding: 0 8rem;
  }
  .exp-date {
    justify-self: start;
  }
  .bio {
    font-size: 1.6rem;
    padding: 0 3rem;
  }
}

@media (max-width: 600px) {
  .big-heading {
    font-size: 7.2rem;
  }
  .profession {
    font-size: 2.4rem;
  }

  .menu-item {
    display: none;
  }

  .bio {
    font-size: 2rem;
  }
  .about-section {
    max-width: 90vw;
  }
  .social-img {
    margin-right: 0.3rem;
  }

  .skill {
    max-width: 90vw;
  }
  .exp {
    font-size: 1.6rem;
    padding: 0 4rem;
  }
  .bio {
    font-size: 1.6rem;
    padding: 0 1rem;
  }
}

@media (max-width: 530px) {
  html {
    font-size: 7px;
  }
  .logo {
    letter-spacing: -10px;
  }
  .big-heading {
    font-size: 7rem;
  }

  footer {
    font-size: 2.4rem;
  }
  .mail {
    font-size: 3rem;
  }
  .exp {
    font-size: 1.6rem;
    padding: 0 4rem;
  }
}

@media (max-width: 420px) {
  .big-heading {
    font-size: 5.5rem;
  }
}
