/* 

Font Sizes(px)
10-12-14-16-20-24-32-36-40-48-64-96-128

Spacing System(px)
2-4-8-12-16-24-32-48-64-80-96-128

Font Weights
default- 400

Line Spacing
defualt- 1

--Colors
Primary- 
Secondary-
Accents-
Greys-

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat;
  line-height: 1;
  font-weight: 400;
  color: #343A40;
}